@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.screen{
  background: url(https://wallpapercave.com/wp/dLB5ai0.jpg);
  background-size: contain;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px;
}
header .settings{
  width: 1920px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.icon{
  display: block;
  margin-left: 3%;
}
header .settings .fa{
  font-size: 2rem;
  color: white;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}
.game-nav{
  display: flex;
  margin-bottom: 250px;
}
.game-nav .game{
  background: linear-gradient(60deg, rgba(16,25,37,1) 0%, rgba(0,0,0,1) 0%, rgba(16,25,37,1) 100%);
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 20%;
  margin-right: 15px;
  cursor: pointer;
  border: 0px solid #576170;
  color: white;
}
.game-nav .game:hover{
  border: 2px solid #576170;
}
.game-nav .game.active{
  overflow: visible;
  width: 150px;
  height: 150px;
  border: 2px solid #576170;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}
.game-nav .game.active .fa{
  font-size: 4rem;
}
.game-nav .game .img{
  width: 100px;
  height: 100px;
}

.info{
  width: 50%;
  margin-bottom: 2rem;
}
.info .sub-title{
  font-weight: 300;
  font-size: 2.0rem;
  color: #576170;
  margin-left: 10%;
}

.game-tweets{
  width: 50%;
  margin-bottom: 2rem;
  border: 2px solid #576170;
  margin-left: 5%;
}



.connected {
  color: white;
}
.notconnected {
  color: red;
}
.status {
  margin-left: 5%;
}